.container.main-slider
    .slider
        .slider-wraper
            .slider-slick
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
        .nav-block
            .subtitle Квартиры площадью
                br
                |от 54 до 120 м²
            .bg
                .navs
                    .navs-slider
                        .inner
                            .navs-slider__item.one
                        .inner
                            .navs-slider__item.two
                        .inner
                            .navs-slider__item.three
                        .inner
                            .navs-slider__item.two
    .slider
        .slider-wraper
            .slider-slick
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
                .inner
                    .slider-item
                        .slider__title Квартира
                            br
                            | “Loft Green Forest”
                        .btn подробнее
        .nav-block
            .subtitle Квартиры площадью
                br
                | от 54 до 120 м²
            .bg
                .navs
                    .navs-slider
                        .inner
                            .navs-slider__item.one
                        .inner
                            .navs-slider__item.two
                        .inner
                            .navs-slider__item.three
                        .inner
                            .navs-slider__item.two

.main-slider__nav
        .main-slider__next Следующая
        .main-slider__prev Предыдущая