
$color__dark_text: #333333;
$color__dark_black: black;
$open_sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$main_text_color: black;
$font__size: 12px;
$font__family: 'Playfair Display', serif;

.title{
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  @media (max-width:574px){
    font-size: 34px;
  }
  &_white{

  }
  &_gray{

  }
  &_dark{

  }
  &_blue{

  }
  &_bold{
    font-weight: 900;
  }
  &_strong{
    font-weight: 700;
  }
  &_book{
    font-weight: 500;
  }
}

.subtitle{
  font-size: 30px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  @media (max-width:1030px) {
    height: auto;
    padding: 20px 0;
  }
}

